<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pizza - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
		<% include partialtemplate/csslinks.ejs %>
		
		
  </head>
  <body>
		<% include partialtemplate/navlinks.ejs %>
		
    <!-- END nav -->





<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="icon-check_circle display-3 text-success"></span>
          <h2 class="display-3 text-black">Thank you!</h2>
          <p class="lead mb-5">Your order was successfully completed.
          You will hear from us soon for comfirmation.</p>
          <p><a href="menu" class="btn btn-sm btn-primary">Back to shop</a></p>
        </div>
      </div>
    </div>
  </div>

  <% include partialtemplate/footer.ejs %>
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

	<% include partialtemplate/jslinks.ejs %>
    
  </body>
</html>